body {
    margin: 0;
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align:left;
    background-color: #f4f4f4;
    padding: 0;  
  }
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    margin: 0;
    font-size: 90px;
    text-align: center;
    font-family:Georgia ;
    color: rgb(218, 180, 180);

  }
  
  .header input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .menu {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .image-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .image-item img {
    width: 80%;
    border-radius: 8px;
  }
  
  .image-item h2 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
  }
  
  .image-item p {
    margin: 0;
    font-size: 14px;
    color: gray;
  }
  
  .footer {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer div {
    font-size: 14px;
    color: #555;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #928686;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #d3a7a6;
  }
  
  .hidden {
    display: none;
  }
  
  #thank-you-message {
    text-align: center;
    margin-top: 20px;
    color: #3b110c;
    font-size: 18px;
    font-weight: bold;
  }